.main
{
  margin-top: 3cm;
  margin-left: 1cm;
  width: 6cm;
 
}

.icons
{
  margin-bottom: 1cm;
  margin-left: 0.5cm;
}
.data
{
  text-align: center;
 font-size: medium;
}
.head
{
  text-align: center;
  
}


