.con{
    margin-top:1rem;
   padding-left: 1rem;
   padding-top: 7rem;
  
  }
  .image{
  margin-right:0rem;
  align-items: end;
  margin-left:5rem
  }
  .text{
  margin-right:4rem
  }
  .ct{
    margin-left: 30rem;
    margin-bottom: 3rem;
  }

  